.card {
  border: 3px solid rgb(28, 8, 61);

  width: 250px;
  border-radius: 20px;
  background-color: #260b52;
}

.card-title {
  color: #fff;
  text-align: center;
}

.img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.img-modulo {
  width: 50px;
}

.card-text {
  color: #fff;
  font-size: 14px;
}

.card-subtitle {
  color: rgb(20, 198, 121);
  text-align: center;
}

.area-price{
  justify-content: center;
  margin-left: -44px;
}

.price{
  font-size: 40px;
  font-weight: 700;
  color: #f2750f;
}

.old-price{
  text-decoration: line-through;
  text-align: center;
  color: #6d29db7f;
}

.price-box-tesouraria{
  background-color: #FFF;
  border: 5px solid #490989;
  width: 380px !important;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.button-price{
  margin-top: 35%;
  bottom: 0 !important;
}

.button-price-final{
  margin-top: 35%;
}

.price-title-tesouraria{
  text-transform: uppercase;
  font-size: 30px;
  color: #260b52;
}


.price-box{
  background-color: #260b52;
  border: 5px solid #490989;
  width: 380px !important;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-price-tesouraria{
  color: #260b52;
  font-size: 14px;
}


.simbol{
  color: #f2750f;
  font-weight: 300;
  font-size: 20px;
  top: 0;

}

.line{
  color: #490989;
  background-color: #490989;
}

.price-title{
  text-transform: uppercase;
  font-size: 30px;
}

.input-contato{
  width: 500px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #f2750f;
}

.input-contato-area{

  
  border-radius: 25px;
  border: 1px solid #f2750f;
}