@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer{
    color: #c1c1cc;
    background-color: #c1c1cc00;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    bottom: 0 !important;
    width: 100%;
    position: fixed;
}