.top{
    width: 100%;
    background-color: rgb(28, 8, 61);
    height: 25px;

}

.text_simple{
    font-size: 15px;
    margin-left: 20px;
    color: #fff;
    justify-content: flex-end !important;
   
}