.card-funil{
    border: 1px solid rgb(222, 222, 222);
    width: 100% !important;
    height: 135px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
    border-right: 5px solid rgb(0, 30, 255);
    background-color: rgb(232, 232, 232);
    overflow: hidden;

}

.card-funil-prosp{
    border: 1px solid rgb(222, 222, 222);
    width: 100% !important;
    height: 135px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
    border-right: 5px solid rgb(20, 152, 62);
    background-color: rgb(232, 232, 232);
    overflow: hidden;

}


.card-funil-neg{
    border: 1px solid rgb(222, 222, 222);
    width: 100% !important;
    height: 135px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
    border-right: 5px solid rgb(252, 184, 12);
    background-color: rgb(232, 232, 232);
    overflow: hidden;

}


.card-funil-fechado{
    border: 1px solid rgb(222, 222, 222);
    width: 100% !important;
    height: 135px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
    border-right: 5px solid rgb(3, 209, 255);
    background-color: rgb(232, 232, 232);
    overflow: hidden;

}

@media (min-width: 1025px) and (max-width: 1280px){
    .card-funil{
        border: 1px solid rgb(222, 222, 222);
        width: 100% !important;
        height: 100px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
        border-right: 5px solid rgb(0, 24, 208);
        background-color: rgb(232, 232, 232);
        overflow: hidden;
    
    }


    .card-funil-prosp{
        border: 1px solid rgb(222, 222, 222);
        width: 100% !important;
        height: 100px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
        border-right: 5px solid rgb(20, 152, 62);
        background-color: rgb(232, 232, 232);
        overflow: hidden;
    
    }
    
    
    .card-funil-neg{
        border: 1px solid rgb(222, 222, 222);
        width: 100% !important;
        height: 100px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
        border-right: 5px solid rgb(252, 184, 12);
        background-color: rgb(232, 232, 232);
        overflow: hidden;
    
    }
    
    
    .card-funil-fechado{
        border: 1px solid rgb(222, 222, 222);
        width: 100% !important;
        height: 100px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.166);
        border-right: 5px solid rgb(3, 209, 255);
        background-color: rgb(232, 232, 232);
        overflow: hidden;
    
    }

    .lead-title{
        font-size: 12px !important;
        margin-top: -10px;

    }

    .circle-lead{
        font-size: 10px !important;
    }

    .fa-building{
        font-size: 10px !important;
    }

    .img-lead{
        width: 20px;
    }

    .lead-name{
        font-size: 12px !important;
    }

    .fa-tag{
        font-size: 10px;
    }

    .fa-dollar{
        font-size: 10px;
    }

    .valor-lead{
        font-size: 10px !important;
    }

    .status-lead{
        font-size: 10px !important;
    }
}

